<smarter-table [filter]="true"
               [columns]="columns"
               [rows]="rows"
               [can_delete]="true"
               [can_edit]="true"
               [page_size]="6"
               [sort]="true"
               [pagination]="true"
               (delete)="deletefn()"
               (edit)="editfn()"
               (save)="savefn($event)"
               [actions]="actions"
               (action_click)="evaluateAction($event)"
               [inline_edit]="true"
               [danger]="'overlap'"
               [inline_edit_groups]="inline_edit_groups"
></smarter-table>
