<button (click)="exportToExcel()" > Export to excel </button>
<table class="table">
  <thead>
  <tr>
    <th *ngFor="let column of _columns; let i = index" (click)="prepareSort(i)">{{column.name}}
      <i *ngIf="column['has_sort'] && column['sort_is_negative']" class="fa fa-long-arrow-down"></i>
      <i *ngIf="column['has_sort'] && !column['sort_is_negative']" class="fa fa-long-arrow-up"></i>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="_filter">
    <td *ngFor="let column of _columns">
      <div *ngIf="column.type == 'number'; then numberBlock; else otherTemp"></div>
      <ng-template #numberBlock >
        <input class="small-num" type="number" [(ngModel)]="column['min_num']" (keyup)="runFilter()">
        to
        <input class="small-num" type="number" [(ngModel)]="column['max_num']" (keyup)="runFilter()">
      </ng-template>
      <ng-template #otherTemp>
        <input type="{{column.type}}" [(ngModel)]="column['filter']" (keyup)="runFilter()">
      </ng-template>
    </td>
  </tr>
  <tr *ngFor="let row of data">
    <td *ngFor="let item of row">{{item}}</td>
  </tr>
  </tbody></table>
<pagination *ngIf="_pagination && _pages > 1" (selectPage)="onSelectPage($event)" [pages]="_pages" ></pagination>
