

/* You can add global styles to this file, and also import other style files */
.small-num {
  width: 60px !important;
  display:inline !important;
}

input {
  border: 0.5px gray;
}

*, button, a, p {
  font-family: sans-serif;
}
