<div class="row no-h-margin" *ngIf="show_options">
  <ng2-multiselect [options]="titles" [texts]="texts" [settings]="mySettings" [(ngModel)]="filterModel" (ngModelChange)="toggle($event)"></ng2-multiselect>
  <button *ngIf="_can_export" (click)="exportToExcel()" class="left-right-space btn-primary"> Export to excel </button>
  <label class="left-right-space">Enable Filter <input type="checkbox" [(ngModel)]="_filter" ></label>
</div>
<table class="table table-striped" [style.width]="tableWidth">
  <thead>
  <tr *ngIf="_overlooking_headers && _overlooking_headers.length">
    <td *ngFor="let hed of _overlooking_headers"  [attr.colspan]="hed.colspan">{{hed.title}}</td>
  </tr>
  <tr>
    <th *ngFor="let column of listedColumns; let i = index" (click)="prepareSort(i)">
      <div *ngIf="column.visible">
        {{column.name}}
        <i *ngIf="column['has_sort'] && column['sort_is_negative']" class="fa fa-long-arrow-down"></i>
        <i *ngIf="column['has_sort'] && !column['sort_is_negative']" class="fa fa-long-arrow-up"></i>
      </div>
    </th>
    <th *ngIf="_can_delete || _can_edit">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="_filter">
    <td *ngFor="let column of listedColumns" [style.width]="'200px'">
      <!--<div *ngIf="column.visible">-->
      <div *ngIf="column.type == 'number'; then numberBlock; else otherTemp"></div>
      <ng-template #numberBlock >
        <input class="small-num form-control" placeholder="min" type="number" [(ngModel)]="column['min_num']" (keyup)="runFilter()">
        to
        <input class="small-num form-control" placeholder="max" type="number" [(ngModel)]="column['max_num']" (keyup)="runFilter()">
      </ng-template>
      <ng-template #otherTemp>
        <input type="{{column.type}}" class="form-control" placeholder="search.." [(ngModel)]="column['filter']" (keyup)="runFilter()">
      </ng-template>
      <!--</div>-->
    </td>
    <td *ngIf="_can_delete || _can_edit">Actions</td>
  </tr>
  <tr *ngFor="let row of data; let i = index" [ngClass]="{'red': checkForDanger(row,i) }" >
    <td *ngFor="let item of row.row_data" (click)="row_click_wrapper(row, i)" [style.width]="'200px'">
      <div *ngIf="item && item.visible">
        <div *ngIf="_inline_edit_row == i && item.inline_edit && item.inline_edit.type; then inlineEditColumn; else standardColumn"></div>
        <ng-template #inlineEditColumn>
          <div *ngIf="_inline_edit_groups_dynamic; then dynamicInlineEdit; else standardInlineEdit"></div>
          <ng-template #standardInlineEdit>
            <inline-edit [(model)]="editing[item.col]" [value_field]="item.inline_edit.value_field" [view_field]="item.inline_edit.view_field" [options]="item.inline_edit.options" [type]="item.inline_edit.type"></inline-edit>
          </ng-template>
          <ng-template #dynamicInlineEdit>
            <inline-edit [value_field]="item.inline_edit.value_field" [view_field]="item.inline_edit.view_field" [(model)]="editing[item.col]" [options]="dynamic_inline_data(row)" [type]="item.inline_edit.type"></inline-edit>
          </ng-template>

        </ng-template>
        <ng-template #standardColumn >
          <div [ngSwitch]="_columns[item.columnIndex].type">
            <a *ngSwitchCase="'link'" href="{{item.value}}">Open link</a>
            <input type="checkbox" [checked]="item.value" disabled *ngSwitchCase="'checkbox'">
            <span *ngSwitchDefault>{{item.value}}</span>
          </div>

        </ng-template>
      </div>
    </td>
    <td *ngIf="_can_edit || _can_delete" class="action-col">
      <button *ngIf="_can_edit && _inline_edit_row != i" class="btn-success" (click)="editHandle(row, i)">{{_primary_action_name}}</button>
      <button *ngIf="_can_delete && _inline_edit_row != i" class="btn-danger" (click)="edit_delete_wrapper(row, i)">{{_secondary_action_name}}</button>
      <button *ngIf="_inline_edit_row == i " class="btn-success" (click)="edit_save_wrapper(row, editing, i)">Save</button>
      <button *ngIf="_inline_edit_row == i " class="btn-primary" (click)="edit_cancel_wrapper(row, i)">Cancel</button>
      <div *ngFor="let action of row.actions; let j = index">
        <button class="btn-info" *ngIf="action.show" (click)="action_click_handler(action.action.name, i, j,row)">{{action.action.name}}</button>
      </div>
    </td>
  </tr>
  </tbody></table>
<pagination *ngIf="_pagination && _pages > 1" (selectPage)="onSelectPage($event)" [pages]="_pages" ></pagination>
